body{background-color:#f5f6fa;font-size:14px;font-family:'Roboto',sans-serif}
h2,h3,h4,h5,ul,body,html{padding:0;margin:0}
.mtop16{margin-top:16px}
.wrapper{min-height:100vh;overflow:hidden}
.wrapper .col1{float:left;position:relative;z-index:999;width:17%}
.wrapper .col2{width:83%;float:left}
.sidebar{background-color:#fff;min-height:100vh;box-shadow:0 0 1rem rgba(0,0,0,0.15)}
.sidebar .section-top{background-color:#2caaff;box-shadow:0 .5rem 1rem rgba(0,0,0,0.15)}
.sidebar .logo{width:60%;padding-top:24px;display:block;margin:0 auto}
.sidebar .user{color:#fff !important;padding:16px}
.sidebar .user a{color:#fff;font-size:1.2em}
.sidebar .main{display:block;margin-top:8px}
.sidebar .main ul li a{color:#8998ac !important;display:block;font-size:1.1em;padding:12px 12px}
.sidebar .main ul li a i{margin-right:10px}
.sidebar .main ul li a:hover{background-color:#2caaff;box-shadow:0 .5rem 1rem rgba(0,0,0,0.15);color:#fff !important;text-decoration:none}
.navbar{background-color:#2caaff;box-shadow:0 .5rem 1rem rgba(0,0,0,0.15)}
.navbar a{color:#fff !important}.page{padding-bottom:16px;padding-top:16px}
.page .breadcrumb{background-color:#fff;box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) !important}
.page .breadcrumb .breadcrumb-item a:hover{text-decoration:none !important}
.page .panel{border-radius:6px;background-color:#fff;box-shadow:0 .5rem 1rem rgba(0,0,0,0.15);border-bottom:2px solid #2caaff;width:100%}
.page .panel .header{border-bottom:1px solid rgba(238,136,238,0.533)}
.page .panel .header h2.title{display:inline-block;color:#19213d;font-size:1.1em;padding:12px 16px}
.page .panel .inside{padding:16px}
.opts a{border-radius:4px;border:1px solid #dedede;display:inline-block;padding:8px 12px}
.form-control-box {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }